@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
    --verde-color: #426B1F;
    --verdeclaro-color: rgba(66, 107, 31, 0.72);
}

body{
    margin: 10px 300px;
    background-color: #fcfcfc;
}

* {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--verde-color) solid 0.1rem;
}

nav .sitename {
    color: var(--verde-color);
}

.login-button {
    justify-content: center;
    background-color: var(--verde-color);
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    color: #ffffff;
}

.localizacao {
    display: block;
    justify-items: center;

}

.local {
    background-color: #D9D9D9;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}


.real-local {
    display: block;
    padding: 10px 0px 0px 0px;
    justify-items: auto;
    margin-bottom: 20px;
}

.real-local h2 {
    font-size: 2.5rem;
}

.real-local h5 {
    font-size: 1rem;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    display: block;
    border: var(--verde-color) solid 1px;
    margin-right: auto;
}

.semideia{
    font-size:2.5rem;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    margin-top:20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:100%;
}

article {
    flex: 3;
    padding: 20px;
}

main h1 {
    margin-bottom: 1rem;
}

.hotel1,
.hotel2 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0px 0px 10px 3px #808080;
    border: #808080 solid 1px;
    border-radius: 10px;
    max-width: 750px;
    margin: 0px auto;
    margin-right: 53rem;
    height: auto;
    width: 100%;
}

.imgh1 {
    width: 40%;
    height: 200px;
    border-radius: 10px 0px 0px 10px;
    background-image: url('dark.png');
    background-position: center;
    background-size: cover;
}

.hotel1 .conteudo{
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:45%;
}
.hotel1 .dinheiro1 {
    display: flex;
    color: var(--verde-color);
    flex-direction: column;
    justify-content:center;
    width:60%;
}

.hotel1 .descricao {
    font-size:1rem;
    margin-bottom: 10px;
}

.texto {
    font-size: 1.2rem;
    padding: 20px;
    font-weight:bold;
}

.imgh2 {
    width: 40%;
        height: 200px;
        border-radius: 10px 0px 0px 10px;
        background-image: url('dark.png');
        background-position: center;
        background-size: cover;
}
.hotel2 .conteudo{
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:45%;
}
.hotel2 .dinheiro2 {
    display: flex;
    color: var(--verde-color);
    flex-direction: column;
    justify-content:center;
    width:60%;
}

.hotel2 .descricao {
    font-size:1rem;
    margin-bottom: 10px;
}

aside.filtros {
    position: absolute;
    top: 22rem;
    right: 290px;
    padding: 5px;
    border-left: 1px solid #ccc;
    max-width: auto;
    height: 59vh;
    background-color: #fcfcfc;
}
.filtro-quartos select{
    border-radius: 10px;
    padding:5px;
}


/* Telefones em paisagem */
@media (min-width: 576px) { }
/* Tablets */
@media (min-width: 768px) {  }
/* Telas pequenas de desktop */
@media (min-width: 992px) {  }
/* Telas grandes de desktop */
@media (min-width: 1200px) {  }
